body {
    
}

h1.title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    position: relative;
    top: -px;
    margin: 2;
}
h1.titleHome {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
}
p.info {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
img.pyrimid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  
}

div.pyrimidsHeader {
    background-color: #a87b27;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    position: relative;
    left: -10px;
    top: -10px;
}
div.greatWallHeader {
  background-color: #696564;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}
div.chichenHeader {
  background-color: #450f01;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}
div.colosseumHeader {
  background-color: #674705;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}
div.petraHeader {
  background-color: #541c29;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}
div.picchuHeader {
  background-color: #22632c;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}
div.redeemerHeader {
  background-color: #858484;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}
div.tajHeader {
  background-color: #9c9478;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: relative;
  left: -10px;
  top: -10px;
}
div.header {
    background-color: gray;
    padding: 20px;
    width: 100%;
    position: relative;
    left: -10px;
    top: -10px;
}
div.links {
    text-align: center;
    position: relative;
    /* top: -px; */
}



a:link, a:visited {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
  }
  a.home:link, a.home:visited {
    background-color: black;
    color: white;
    padding: 0px 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 5px;
    position: relative;
    top: 15;
    left:-20
  }
  
  a.Pyrimid:hover, a.Pyrimid:active {
    background-color: #a87b27;
  }
  a.greatWall:hover, a.greatWall:active {
    background-color: #696564;
  }
  a.chichen:hover, a.chichen:active {
    background-color: #450f01;
  }
  a.colosseum:hover, a.colosseum:active {
    background-color: #674705;
  }
  a.petra:hover, a.petra:active {
    background-color: #541c29;
  }
  a.redeemer:hover, a.redeemer:active {
    background-color: #858484;
  }
  a.picchu:hover, a.picchu:active {
    background-color: #22632c;
  }
  a.taj:hover, a.taj:active {
    background-color: #9c9478;
  }
  h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
  }
  ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
  }

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

li strong {
  color: #5a0f94;
}